#timer {
    float: right;
    margin-right: 5px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

button {

}

#startBtn {
    align-items: center;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}